
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:lightgrey;
}

header{
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: bisque;
}

header h1{
    font-size: 60px;
    margin-bottom: 20px;
}

#searchSection{
    width: 600px;
    
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

#searchField{
    width: 80%;
}

.filterSection{
    display: inline-block;
    width: 40%;
}

.filterSection h3{
    border-bottom: 1px solid black;
    text-align: left;
    padding: 10px;
    background-color: lightseagreen;
}

ul{
    padding: 10px 20px;
}

li{
    text-align: left;
    list-style: none;
}

#recipesContainer{
    display: inline-flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 50px;
    margin: 40px auto;
}

.recipeBox{
    height: 440px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.recipeBox img{
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.recipeSlideText{
    padding: 10px;
}

.recipeSlideText span{
    font-size: bold;
    color: darkorange;
}

.recipeSlideText h2{
    font-size: 18px;
    margin: 10px 0;
}

.smallInfo{
    display: inline-block;
}

.divider::after{
    content: "|";
    margin-left: 5px;
}