
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#site-wrapper{
    background-color: beige;
    min-height: 100vh;
    min-width: 375px;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 110px 1fr 90px;
    justify-items: center;
    row-gap: 20px;
}

header{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
}

header h1{
    padding-top: 10px;
    font-size: 60px;
    color: #758154;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 5px lightgray;
}

#sideImage{
    position: absolute;
    bottom: -85px;
    left: 20px;
    height: 300px;
    width: 300px;
    background-image: url("../pictures/traditional-turkish-breakfast-table-and-people-tak-2024-10-18-07-30-02-utc.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 8px solid #758154;
    box-shadow: 0 4px 4px grey;
    z-index: 10;
}

/*##################### Searh section elements ##########################*/

#searchSection{
    position: relative;
    background-color:#758154;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    padding: 20px 0 10px;
    text-align: center;
    background-image: linear-gradient(#6a793a 0% 1%,#758154 5% 95%,#6a793a);
    box-shadow: 0 4px 4px grey;
}


#searchField{
    width: 400px;
}

#searchSection input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#searchSection input[type=text]{
    box-shadow: inset 1px 2px 4px grey;
}

#searchSection input[type=button]{
    color:#894700;
    font-weight: bold;
    margin-left: 5px;
    box-shadow: inset 0px 0px 4px 1px grey;
}

#searchSection input[type=button]:hover{
    background-color:darkorange;
    box-shadow: inset 0px 0px 4px 1px rgb(49, 48, 48);
    cursor: pointer;
}

#searchSection input[type=button]:active{
    color: darkorange;
    background-color: rgb(118, 65, 0);
}

#dietFilter, 
#allergiesFilter, 
#mealTypeFilter {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

#dietFilter:hover ul,
#allergiesFilter:hover ul,
#mealTypeFilter:hover ul{
    display:block;
}

#filters button{
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    width: 140px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

ul{
    position: absolute;
    padding: 10px 20px;
    display: none;
    color: white;
    background-color: #758154;
    box-shadow: 2px 8px 6px 2px gray;
    border-radius: 0px 0px 5px 5px;
}

li{
    text-align: left;
    list-style: none;
}


/*###################### Recipe card container elements #####################*/


#recipesContainer{
    grid-column: 1/2;
    grid-row: 3/4;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    max-width: 1200px;
    padding: 100px 100px 50px;
}

.recipeBox{
    flex: 1 1 0;
    max-height: 440px;
    max-width: 300px;
    min-width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px grey;
}

.recipeBox:hover{
    background-color:white;
    box-shadow: 4px 6px 8px 2px #758154;
}

.recipeBox img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.recipeSlideText{
    color:#4b4a4a;
    font-size: 14px;
    padding: 10px;
}

.recipeDetails{
    display: flex;
    justify-content: space-around;
    column-gap: 2px;
}

.recipeSlideText span{
    font-weight: bold;
    color: darkorange;
}

.recipeSlideText h2{
    font-size: 18px;
    margin: 15px 0;
}

.smallInfo{
    display: inline-block;
}

.divider::after{
    content: "|";
    margin-left: 5px;
}


#recipesContainer a{
    color: black;
    text-decoration: none;
}

/*#################### Bottom container elements ##############################*/

#bottomContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
}
#bottomContainer button{
    padding: 10px 20px;
    margin: 20px;
    background-color: black;
    color: white;
    box-shadow: 1px 2px 4px black;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}

#next:hover, 
#previous:hover{
    background-color: #333333;
    cursor: pointer;
}

#next:active, 
#previous:active{
    background-color: #898989;
}

#bottomText{
    font-weight: bold;
    color: darkolivegreen;
    text-align: center;
}


#pageNumber{
    margin-bottom: 15px;
    font-size: 18px;
}

#bottomText a{
    color: grey;
    font-size: 14px;
}

#bottomText a:hover{
    color: darkorange;
}

#bottomText a:active{
    color: lightsalmon;
}


/*########################## Media queries ######################*/

@media only screen and (max-width: 1100px){
    #sideImage{
        bottom: -42px;
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 900px){
    #sideImage{
        display: none;
    }

    #recipesContainer{
        padding: 50px 50px 20px;
    }

}

@media only screen and (max-width: 675px){
    
    #site-wrapper{
        grid-template-rows: 70px 110px 1fr 70px;
    }

    header h1{
        font-size: 40px;
    }

    

    #pageNumber{
        margin-bottom: 10px;
    }

    #bottomContainer button{
        padding: 5px 10px;
        margin: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px){
    
    header h1{
        font-size: 30px;
    }

    #site-wrapper{
        grid-template-rows: 70px 80px 1fr 70px;
    }

    #searchSection{
        padding: 10px;
    }

    #searchSection input{
        padding: 10px;
    }

    #searchField{
        width:70%;
    }

    #filters button{
        font-size: 14px;
    }

    #filters button{
        width: 110px;
        padding: 0;
    }

    li{
        font-size: 12px;
    }

    #dietFilter, #allergiesFilter, #mealTypeFilter{
        margin-top: 5px;
    }

    
}

 